# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Flask stuff:
instance/
.webassets-cache

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# poetry
poetry.lock
pyproject.toml

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json
